annotated-types
anyio
certifi
charset-normalizer
colorama
distro
EasyProcess
entrypoint2
exceptiongroup
h11
httpcore
httpx>=0.25.2
idna
importlib-resources
mss
numpy>=1.26.2
openai
prompt-toolkit
PyAutoGUI
pydantic
pydantic_core
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python3-xlib
python-dateutil
python-dotenv
pytweening
requests
rubicon-objc
six
sniffio
tqdm
typing_extensions
urllib3
wcwidth
zipp
google-generativeai
aiohttp
ultralytics
easyocr
ollama
anthropic